/* ===== CSS Reset ===== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== Body ===== */
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* ===== Navbar ===== */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px ;
    background-color: #0b5ed7;
}

/* Logo */
.logo a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}


/* Right side actions */
.nav-actions{
    display: flex;
    align-items: center;
    gap: 10px;
}


/* Search box */
.search-box{
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}


/* Login button */
.login-btn{
    padding: 8px 10px;
    border: none;
    background-color: white;
    color: #0b5ed7;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.login-btn:hover{
    color: blue;
}


/* ===== Slider Section start ===== */
.slider{
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.slide{
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.slide.active{
    /* display: block; */
    opacity: 1;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* caption */
.caption{
    position: absolute;
    bottom: 30px;
    color: white;
    left: 30px;
    font-size: 28px;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}


/* Button  */
.prev,
.next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 30px;
    padding: 10px 15px;
    z-index: 10;
}

.prev{
    left: 15px;
}

.next{
    right: 15px;
}

.prev:hover, .next:hover {
    background: rgba(0,0,0,0.7);
}

/* ===== Slider Section END ===== */


/* ===== Division Section START ===== */

.divisions{
    padding: 60px 8%;
    background: #f5f5f5;
}

.divisions h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.division-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.division-card{
    background: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    
}

.division-card img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.division-card h3{
    margin: 10px 0;
    font-weight: bold;

}

.division-card button{
    margin-bottom: 20px;
    padding: 8px 18px;
    border: none;
    background: #0066cc;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.division-card:hover{
    transform: translateY(-8px);
}

.division-card button:hover{
    background: #004d99;
}

/* Tablet Design  */
@media(max-width:992px){
    .division-grid{
        grid-template-columns: repeat(2,1fr);
    }
}

/* Mobile Design  */
@media(max-width:576px){
    .division-grid{
        grid-template-columns: 1fr;
    }
}


/* <!-- Data division section --> */
.places{
    padding: 60px 8%;
}

.places-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.place-card{
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.place-card img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.place-card .content{
    padding: 15px;
}

.division-card h3{
    margin-bottom: 8px;
}

/* ===== Division Section END ===== */
